/*
    demo.css  -  Don Cross  -  stylesheet for Flywheel chess demo.
*/

body {
    width: 360px;
}

.noselect {
    /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting#4407335 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.RankFileText {
    font-family: monospace;
    font-size: 14px;
}

.ChessBoard {
    position: relative;
    left: 40px;
    top: 35px;
    width: 320px;
    height: 320px;
    background-color: beige;
    border:1px solid black;
    border-collapse: separate;
}

.ChessSquareHover {
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5), inset 0 0 1.5em rgba(0, 0, 255, 0.35);
}

.GameResultText {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    font-family: serif;
    color: rgba(255, 118, 66, 1.0);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.45);
}

.ChessPromptText {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgba(250, 180, 190, 1.0);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
}

.PawnPromotionMenu {
    position: absolute;
    z-index: 2;
}

.PawnPromotionOptionNormal {
    background-color: rgba(0, 0, 255, 0.35);
    position: absolute;
}

.PawnPromotionOptionHover {
    background-color: rgba(200, 200, 0, 1.0);
    position: absolute;
}
